Repository dimfeld/svelte-maplibre: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

.lintstagedrc:

{
  "*.svelte": "prettier --plugin-search-dir . --write",
  "*.js": "prettier --plugin-search-dir . --write",
  "*.ts": "prettier --plugin-search-dir  --write."
}

Track viewport in the URL hash (#69)
  .changeset/proud-cougars-tease.md
  src/lib/MapLibre.svelte
  src/lib/hash.ts
  src/routes/examples/geojson_line_layer/+page.svelte
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

small changes and editing
  src/lib/JoinedData.svelte
  src/routes/examples/data_join/+page.svelte
Due: prettier --plugin-search-dir . --write

Adds a JoinedData Component to allow client side joins (#65)
  .changeset/big-olives-serve.md
  src/lib/JoinedData.svelte
  src/lib/Layer.svelte
  src/lib/VectorTileSource.svelte
  src/routes/NavBar.svelte
  src/routes/examples/data_join/+page.svelte
  src/routes/examples/data_join/+page.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

v0.4.3
  .changeset/big-olives-serve.md
  .changeset/eighty-bags-smash.md
  .changeset/proud-cougars-tease.md
  .changeset/tall-trainers-smash.md
  .changeset/tender-turtles-accept.md
  CHANGELOG.md
  package.json
Due: none

Make eventsIfTopMost also work for manageHoverState, and introduce openIfTopMost for Popups.
  .changeset/bright-falcons-study.md
  src/lib/Layer.svelte
  src/lib/Popup.svelte
  src/routes/examples/geojson_line_layer/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin-search-dir . --write

Fix GeoJSON so it reactively updates on style.load
  src/lib/GeoJSON.svelte
  src/routes/examples/changing_basemap_style/+page.svelte
Due: prettier --plugin-search-dir . --write

Add changeset
  .changeset/funny-pigs-drop.md
Due: none

align controls
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin-search-dir . --write

Fix GeoJSON so it reactively updates on style.load (#75)
  .changeset/funny-pigs-drop.md
  src/lib/GeoJSON.svelte
  src/routes/examples/changing_basemap_style/+page.svelte
Due: prettier --plugin-search-dir . --write

Enable openIfTopMost by default
  .changeset/bright-falcons-study.md
  src/lib/Popup.svelte
Due: prettier --plugin-search-dir . --write

Keep hoverCursor in sync with overlapping layers
  src/lib/Layer.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin-search-dir . --write

Make eventsIfTopMost also work for manageHoverState, and introduce (#71)
  .changeset/bright-falcons-study.md
  src/lib/Layer.svelte
  src/lib/Popup.svelte
  src/routes/examples/geojson_line_layer/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
Due: prettier --plugin-search-dir . --write

v0.5.0
  .changeset/bright-falcons-study.md
  .changeset/funny-pigs-drop.md
  CHANGELOG.md
  package.json
Due: none

Improve code samples a bit
  package.json
  pnpm-lock.yaml
  src/routes/examples/geojson_polygon/+page.svelte
  src/routes/examples/overlapping_layer_events/+page.svelte
  src/site/CodeSample.svelte
Due: prettier --plugin-search-dir . --write

add comment
  src/site/CodeSample.svelte
Due: prettier --plugin-search-dir . --write

Fix marker popup click handler
  .changeset/slow-lizards-sell.md
  src/lib/Popup.svelte
Due: prettier --plugin-search-dir . --write

comments
  src/lib/Popup.svelte
Due: prettier --plugin-search-dir . --write

Fix marker popup click handler (#78)
  .changeset/slow-lizards-sell.md
  src/lib/Popup.svelte
Due: prettier --plugin-search-dir . --write

v0.5.1
  .changeset/slow-lizards-sell.md
  CHANGELOG.md
  package.json
Due: none

Test for marker z-index with classes
  src/routes/NavBar.svelte
  src/routes/tests/marker-z-index/+page.svelte
  src/routes/tests/marker-z-index/+page.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

update prettier
  .lintstagedrc
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

allow setting z-index on Marker and MarkerLayer
  .changeset/mean-spiders-promise.md
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/routes/tests/marker-z-index/+page.svelte
Due: prettier --plugin-search-dir . --write

allow setting z-index on Marker and MarkerLayer (#82)
  .changeset/mean-spiders-promise.md
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/routes/tests/marker-z-index/+page.svelte
Due: prettier --plugin-search-dir . --write

v0.5.2
  .changeset/mean-spiders-promise.md
  CHANGELOG.md
  package.json
Due: none

Promptly remove source and handle the source being quickly replaced
  .changeset/four-cars-join.md
  src/lib/GeoJSON.svelte
  src/lib/VectorTileSource.svelte
  src/lib/source.ts
  src/routes/NavBar.svelte
  src/routes/tests/replace_source/+page.svelte
  src/routes/tests/replace_source/+page.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

Cleanup joined data
  .changeset/little-paws-cover.md
  src/lib/JoinedData.svelte
  src/lib/index.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

Don't try to remove the source from a map that has been removed
  src/lib/GeoJSON.svelte
  src/lib/VectorTileSource.svelte
  src/lib/source.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

add components to export map
  .changeset/yellow-jeans-love.md
  package.json
Due: none

add components to export map (#90)
  .changeset/yellow-jeans-love.md
  package.json
Due: none

Cleanup joined data (#89)
  .changeset/little-paws-cover.md
  src/lib/JoinedData.svelte
  src/lib/index.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

Promptly remove sources and handle the source being quickly replaced (#88)
  .changeset/four-cars-join.md
  src/lib/GeoJSON.svelte
  src/lib/VectorTileSource.svelte
  src/lib/source.ts
  src/routes/NavBar.svelte
  src/routes/tests/replace_source/+page.svelte
  src/routes/tests/replace_source/+page.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

v0.5.3
  .changeset/four-cars-join.md
  .changeset/little-paws-cover.md
  .changeset/yellow-jeans-love.md
  CHANGELOG.md
  package.json
Due: none

fix typo
  CHANGELOG.md
Due: none

export source helpers
  .changeset/silly-buses-learn.md
  package.json
  src/lib/index.ts
  src/lib/source.ts
Due: prettier --plugin-search-dir --write.

export source helpers (#91)
  .changeset/silly-buses-learn.md
  package.json
  src/lib/index.ts
  src/lib/source.ts
Due: prettier --plugin-search-dir --write.

typo
  src/lib/source.ts
Due: prettier --plugin-search-dir --write.

Fix deck.gl layer click handler
  .changeset/shiny-mugs-attend.md
  src/lib/Popup.svelte
  src/lib/context.ts
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

Allow setting layers non-interactive
  .changeset/short-balloons-pump.md
  src/lib/CircleLayer.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/SymbolLayer.svelte
  src/lib/context.ts
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

Allow setting layers non-interactive (#94)
  .changeset/short-balloons-pump.md
  src/lib/CircleLayer.svelte
  src/lib/DeckGlLayer.svelte
  src/lib/FillExtrusionLayer.svelte
  src/lib/FillLayer.svelte
  src/lib/HeatmapLayer.svelte
  src/lib/Layer.svelte
  src/lib/LineLayer.svelte
  src/lib/Marker.svelte
  src/lib/MarkerLayer.svelte
  src/lib/SymbolLayer.svelte
  src/lib/context.ts
  src/routes/examples/clusters/+page.svelte
  src/routes/examples/custom_marker_clusters/+page.svelte
Due: prettier --plugin-search-dir . --write, prettier --plugin-search-dir --write.

v0.6.0
  .changeset/shiny-mugs-attend.md
  .changeset/short-balloons-pump.md
  .changeset/silly-buses-learn.md
  CHANGELOG.md
  package.json
Due: none
